{{template "header.html" .S}}

<h4>Add News:</h4>
<form method="POST" action="/news/edit">
    <textarea class="col-12" name="text" rows="3"></textarea> <br />
    <button type="submit" class="btn btn-primary">Add</button>
</form>

{{template "footer.html" .S}}
