{{template "header.html" .S}}

{{range .News}}
<div class="row justify-content-center">
  <div class="col-sm-10 alert alert-info">
    <a href="/news/"><strong>News!</strong></a> {{.Text}}
  </div>
</div>
{{end}}

<div class="row">
	<p class="text-center">There are {{.Count}} books on the library.</p>
</div>
<div class="row">
	<div class="col">
	  <h4>Last books added:</h4>
	</div>
	<div class="col text-end title">
	  <small>(<a href="/search/?q=">more</a>)</small>
	  <a href="/search/?fmt=rss&q="><img src="/img/feed.png"/></a>
	</div>
</div>

<div class="row">
{{with .Books}}
	{{range .}}
	<div class="col-sm-2">
		<div class="thumbnail text-center" style="border:none;">
		<a href="/book/{{.ID}}" title="{{.Description}}">
		{{if .Cover}}<div class="down"><img  class="rounded" src="/cover/{{.ID}}/small/{{.Title}}.jpg" alt="{{.Title}}" /></div>{{end}}
		<p><strong>{{.Title}}</strong></p>
		</a>
		</div>
	</div>
	{{end}}
{{end}}
</div>

<div class="row">
	<p class="text-center">{{range .Tags}}<a class="badge bg-secondary" href="/search/?q=tag:{{.}}">{{.}}</a> {{end}}</p>
</div>

{{template "footer.html" .S}}
